.median-values {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  text-align: center;
}

.values {
  width: 50px;
  height: fit-content;
  padding: 10px;
  border: 1px solid palegreen;
  align-self: center;
  background-color: palegreen;
  border-radius: 2em;
}

.input-form {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid black;
  align-self: center;
  background-color: whitesmoke;
  margin: auto;
}

.error{
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid palevioletred;
  align-self: center;
  background-color: palevioletred;
  margin: auto;
}
